/* Formação Geral */
body{
	font-family: "Shadows+Into+Light", "Indie+Flower", cursive;
}

h1, h2, h3{
	margin: 0;
	font-family: display, Indie+Flower, cursive;
	font-weight: 700;
}

p{
	font-family: "Indie+Flower", "Shadows+Into+Light", cursive;
}

.container{
	width: 100%;
}

/* Cabeçalho ou barra de navegação */

.logo img{
	border-radius: 50%;
}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #000;
	padding: 25px;
}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%;
}

nav ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #fff;
}

/* Header */

header{
	background-image: url("../img/fundo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
}

header p{
	margin-bottom: 2em;
	font-size: 1.7em;
}

.botao{
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #4132f5;
	font-size: .8em;
	border-radius: 0%;
}

/* Sobre */

#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #000;
	color: #fff;
}

#sobre h2{
	margin-top: 20px;
	font-size: 2em;
}

.foto img{
	width: 60%;
}

.foto {
	float: left;
	width: 50%;
}

.texto{
	float: right;
	width: 50%;
}

/* Especialidades */

#especialidades{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;
	background-color: #000;
	color: #fff;
}

#especialidades div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}

#especialidades p{
	line-height: 1.5;
	margin: 2vh;
	font-size: 1.2em;
}

#especialidades img{
	margin: 10px 0;
}

#especialidades h2{
	font-size: 2em;
}

/* Competencias */

#competencias{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#competencias h2{
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 2em;
	text-align: center;
}

#competencias h3{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;	
}

#competencias p{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
}

#competencias a{
	text-decoration: none;
}

#competencias img{
	width: 100%;
	margin-bottom: 0;
}

#competencias .comp p{
	border-left: 5px groove #00FFFF;
	border-right: 5px groove #00FFFF;
	border-bottom: 5px groove #00FFFF;
	margin-top: 0;
	font-family: "Goshi Hand", "Helvetica", "Arial", sans-serif;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 1.5;
}

/* Cabeçalho ou barra de navegação */

@media screen and (min-width: 768px){
	
	nav{
		flex-direction: row;
		justify-content: space-around;
	}
	nav ul{
		flex-direction: row;
		width: 70%;
	}
	
	/* header */

	header{
		height: 60vh;
		justify-content: center;
	}
	/* SOBRE */
	#sobre{
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		height: 90vh;
		justify-content: center;
		min-height: 90vh;
	}
	#sobre h2{
		text-align: center;
		width: 100%;
	}
	#sobre div{
		flex-grow: 1;
		flex-basis: 300px;
		padding: 0 10px;
	}
	/* ESPECIALIDADES */
	#especialidades{
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 1000px
		margin: 0 auto;
	}
	#especialidades h2{
		text-align: center;
		width: 100%;
	}
	#especialidades div{
		flex-grow: 1;
		flex-basis: 150px;
		padding: 0 10px;
	}
	/* COMPETENCIAS */
	#competencias{
		flex-direction: row;
		flex-wrap: wrap;		
	}
	#competencias h2{
		width: 100%;
		text-align: center;		
	}
	#competencias h3{
		width: 100%;
		text-align: center;		
	}
	#competencias .comp{
		width: 33.3333333333%;
		text-align: center;
	}	
}